.Rproj.user
.Rhistory
.RData
.Ruserdata
.positai
.RDataTmp2
.RDataTmp3
.RDataTmp4
.RDataTmp5
.RDataTmp*
*.RData
*.RDataTmp
.RDataTmp*
*.RData
*.RData
*.RDataTmp*
*.rds
.RDataTmp*
*.RData
*.RData
.RDataTmp*
